*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
    height: 626px;
    background-image: url("./assets/Rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100% , contain;
}

.text{
    color: #FFFFFF;
    width: 890px;
    margin-left: 60px;
    margin-right: 60px;
}

.size-1{
    font-weight: 700;
    font-size: 60px;
    line-height: 75.42px;
}

.size-2{
    font-weight: 600;
    font-size: 26px;
    line-height: 35.41px;
}

.info{
    background-color: #E5E5E5;
}

.cover{
    width: 874px;
    margin-left: 20px;
    margin-right: 20px;
}

.size-3{
    color: #456A87;
    padding-top: 28px;
    font-weight: 600;
    font-size: 32px;
    line-height: 70px;
}

.size-4{
    color: #000000;
    padding-bottom: 14px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
}

.input-bar{
    color: #456A87;
    width: 100%;
    margin-bottom: 14px;
    border: 1px solid #456A87;
    border-radius: 6px;
    padding: 15px;
}

.p1{
    padding-top: 14px;
}

.check{
    display: flex;
    margin-top: 12px;
    margin-bottom: 30px;
}

.box{
    height: 20px;
    width: 20px;
    border: 1px solid #456A87;
    border-radius: 6px;
}

.size-5{
    padding-left: 10px;
    padding-right: 18px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24.51px;
}

.input-bar-2{
    color: #456A87;
    padding: 15px;
    height: 308px;
    width: 100%;
    border: 1px solid #456A87;
    border-radius: 6px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.button{
    display: flex;
    padding: 12px 20px 12px 20px;
    background-color: #E07A5F;
    font-weight: 600px;
    font-size: 20px;
    border-radius: 6px;
    color: #FFFFFF;
    margin-top: 11px;
    margin-bottom: 30px;
    margin-left: auto;
}  

.drop-box{
    height: 41px;
    width: 136px;
    border: 2px solid #E07A5F;
    border-radius: 6px;
    padding: 11px 18px 11px 18px;
    color: #E07A5F;
    margin-top: 17px;
    margin-bottom: 22px;
}

.size-6{
    font-weight: 600;
    font-size: 14px;
    padding-right: 7.63px;
}

.size-7{
    height: 5.21px;
    width: 8.78px;
}

@media only screen and (max-width: 767px){
    .size-1{
        font-size: 50px;
    }

    .size-2{
        font-size: 23px;
    }

    .size-3{
        font-size: 28px;
    }

    .size-4{
        font-size: 16px;
    }

    .size-5{
        font-size: 16px;
    }

    .box{
        height: 18px;
        width: 18px;
    }
}

@media only screen and (max-width: 700px){
    .check{
        flex-flow: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width: 500px){
    .size-1{
        font-size: 35px;
    }

    .size-2{
        font-size: 20px;
    }

    .size-3{
        font-size: 25px;
    }

    .size-4{
        font-size: 14px;
    }

    .size-5{
        font-size: 14px;
    }

    .box{
        height: 18px;
        width: 18px;
    }

    .button{
        font-size: 15px;
    }

    .text{
        margin-left: 30px;
        margin-right: 30px;
    }
}